@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Thanks for stopping by, click below to purchase you coffee</p>
        <a asp-controller="Home" asp-action="Purchase"><p>Coffee</p></a>
    </div>
