
@{
    ViewData["Title"] = "Purchase";
}

<form method="get" action="CreditCard">
    <h1>Purchase</h1>

    <input type="text" name="Name" min="1" max="20" required />
    <p>Name</p>

    <input type="number" name="Price" min="1" max="100" step=".01" required />
    <p>Price</p>

    <input type="number" name="Quantity" min="1" max="99" required />
    <p>Quantity</p>

    <input type="text" name="Description" min="1" max="2000" size="50" />
    <p>Please enter a desrciption up to 2000 characters</p>

    <input type="submit" value="Checkout" />
</form>
